<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="./assets/images/logo-16x16.png" />
    <title>SmartGarden - Publications</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display" rel="stylesheet">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@1.9.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- Styles -->
    <link href="./assets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/components.css" rel="stylesheet">
    <link href="./assets/css/media.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    
    <style>
        .crud-actions {
            margin-top: 15px;
            text-align: center;
        }
        .btn-crud {
            margin: 5px;
            padding: 8px 20px;
        }
        .publication-example {
            border-left: 4px solid #007bff;
            background: #f8f9fa;
        }
    </style>
</head>

<body class="newsfeed">
    <div class="container-fluid" id="wrapper">
        <div class="row newsfeed-size">
            <div class="col-md-12 newsfeed-right-side">
                <!-- En-tête complet avec navigation -->
                <nav id="navbar-main" class="navbar navbar-expand-lg shadow-sm sticky-top">
                    <ul class="navbar-nav mr-5" id="main_menu">
                        <a class="navbar-brand nav-item mr-lg-5" href="index.html"><img src="./assets/images/logo-128x128.png" width="70" height="70" class="mr-3" alt="Logo"></a>
                        
                        <form class="w-30 mx-2 my-auto d-inline form-inline mr-5">
                            <div class="input-group">
                                <input type="text" class="form-control search-input w-75" placeholder="Search for people, companies, events and more..." aria-label="Search" aria-describedby="search-addon">
                                <div class="input-group-append">
                                    <button class="btn search-button" type="button"><i class='bx bx-search'></i></button>
                                </div>
                            </div>
                        </form>
                        
                        <!-- Menu Create -->
                        <li class="nav-item dropdown d-mobile">
                            <a href="#" class="nav-link nav-icon nav-links drop-w-tooltip" data-toggle="dropdown" data-placement="bottom" data-title="Create" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="./assets/images/icons/navbar/create.png" alt="navbar icon">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-dropdown-menu">
                                <a href="#" class="dropdown-item" aria-describedby="createGroup">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class='bx bx-group post-option-icon'></i>
                                        </div>
                                        <div class="col-md-10">
                                            <span class="fs-9">Group</span>
                                            <small id="createGroup" class="form-text text-muted">Find people with shared interests</small>
                                        </div>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item" aria-describedby="createEvent">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class='bx bx-calendar post-option-icon'></i>
                                        </div>
                                        <div class="col-md-10">
                                            <span class="fs-9">Event</span>
                                            <small id="createEvent" class="form-text text-muted">bring people together with a public or private event</small>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </li>

                        <!-- Messages -->
                        <li class="nav-item dropdown message-drop-li">
                            <a href="#" class="nav-link nav-links message-drop drop-w-tooltip" data-toggle="dropdown" data-placement="bottom" data-title="Messages" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="./assets/images/icons/navbar/message.png" class="message-dropdown" alt="navbar icon"> <span class="badge badge-pill badge-primary">1</span>
                            </a>
                            <ul class="dropdown-menu notify-drop dropdown-menu-right nav-drop">
                                <div class="notify-drop-title">
                                    <div class="fs-8">Messages | <a href="#">Requests</a></div>
                                    <div>
                                        <a href="#" class="notify-right-icon">
                                            Mark All as Read
                                        </a>
                                    </div>
                                </div>
                                <div class="drop-content">
                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div class="notify-img">
                                                <img src="./assets/images/users/user-6.png" alt="notification user image">
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                            <a href="#" class="notification-user">Susan P. Jarvis</a>
                                            <a href="#" class="notify-right-icon">
                                                <i class='bx bx-radio-circle-marked'></i>
                                            </a>
                                            <p class="time">
                                                <i class='bx bx-check'></i> This party is going to have a DJ, food, and drinks.
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="notify-drop-footer text-center">
                                    <a href="#">See More</a>
                                </div>
                            </ul>
                        </li>

                        <!-- Notifications -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link nav-links drop-w-tooltip" data-toggle="dropdown" data-placement="bottom" data-title="Notifications" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="./assets/images/icons/navbar/notification.png" class="notification-bell" alt="navbar icon"> <span class="badge badge-pill badge-primary">3</span>
                            </a>
                            <ul class="dropdown-menu notify-drop notify-mobile dropdown-menu-right nav-drop">
                                <div class="notify-drop-title">
                                    <div class="fs-8">Notifications <span class="badge badge-pill badge-primary ml-2">3</span></div>
                                    <div>
                                        <a href="#" class="notify-right-icon">
                                            Mark All as Read
                                        </a>
                                    </div>
                                </div>
                                <div class="drop-content">
                                    <li>
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <div class="notify-img">
                                                <img src="./assets/images/users/user-10.png" alt="notification user image">
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9 pd-l0">
                                            <a href="#" class="notification-user">Sean</a> <span class="notification-type">replied to your comment</span>
                                            <a href="#" class="notify-right-icon">
                                                <i class='bx bx-radio-circle-marked'></i>
                                            </a>
                                            <p class="time">
                                                <span class="badge badge-pill badge-primary"><i class='bx bxs-group'></i></span> 3h
                                            </p>
                                        </div>
                                    </li>
                                </div>
                                <div class="notify-drop-footer text-center">
                                    <a href="#">See More</a>
                                </div>
                            </ul>
                        </li>

                        <!-- Pages -->
                        <li class="nav-item dropdown d-mobile">
                            <a href="#" class="nav-link nav-links nav-icon drop-w-tooltip" data-toggle="dropdown" data-placement="bottom" data-title="Pages" role="button" aria-haspopup="true" aria-expanded="false">
                                <img src="./assets/images/icons/navbar/flag.png" alt="navbar icon">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-drop">
                                <a class="dropdown-item" href="publications.html">Publications</a>
                                <a class="dropdown-item" href="sign-in.html">Sign in</a>
                                <a class="dropdown-item" href="sign-up.html">Sign up</a>
                            </div>
                        </li>

                        <!-- Profil utilisateur -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link nav-links" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <div class="menu-user-image">
                                    <img src="./assets/images/users/user-4.jpg" class="menu-user-img ml-1" alt="Menu Image">
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-drop">
                                <a class="dropdown-item" href="profile.html"><i class='bx bx-user mr-2'></i> Account</a>
                                <div role="separator" class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class='bx bx-undo mr-2'></i> Logout</a>
                            </div>
                        </li>

                        <!-- Settings -->
                        <li class="nav-item nav-icon">
                            <a href="settings.html" data-toggle="tooltip" data-placement="bottom" data-title="Settings" class="nav-link"><img src="./assets/images/icons/navbar/settings.png" alt="navbar icon"></a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary mr-3" id="menu-toggle"><i class='bx bx-align-left'></i></button>
                </nav>
                
                <div class="row newsfeed-right-side-content mt-3">
                    <div class="col-md-3 newsfeed-left-side sticky-top shadow-sm" id="sidebar-wrapper">
                        <div class="card newsfeed-user-card h-100">
                            <ul class="list-group list-group-flush newsfeed-left-sidebar">
                                <li class="list-group-item">
                                    <h6>Home</h6>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center ">
                                    <a href="profile.html" class="sidebar-item"><img src="./assets/images/icons/left-sidebar/newsfeed.png" alt="profile"> Profile</a>
                                    <a href="#" class="newsfeedListicon"><i class='bx bx-dots-horizontal-rounded'></i></a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center sd-active">
                                    <a href="publications.html" class="sidebar-item"><img src="./assets/images/icons/left-sidebar/message.png" alt="publications"> Publications</a>
                                    <span class="badge badge-primary badge-pill"><i class='bx bx-chevron-right'></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="plantes.html" class="sidebar-item"><img src="./assets/images/icons/left-sidebar/group.png" alt="plantes"> Plantes</a>
                                    <span class="badge badge-primary badge-pill"><i class='bx bx-chevron-right'></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="evenements.html" class="sidebar-item"><img src="./assets/images/icons/left-sidebar/event.png" alt="evenements"> Evenements</a>
                                    <span class="badge badge-primary badge-pill"><i class='bx bx-chevron-right'></i></span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <a href="capteurs.html" class="sidebar-item"><img src="./assets/images/icons/left-sidebar/saved.png" alt="capteurs"> Capteurs</a>
                                    <span class="badge badge-primary badge-pill"><i class='bx bx-chevron-right'></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-md-6 second-section" id="page-content-wrapper">
                        <!-- Section CRUD -->
                        <div class="mb-4">
                            <div class="card newsfeed-user-card">
                                <div class="card-body">
                                    <h5 class="card-title">Gestion des Publications</h5>
                                    <p class="card-text">Créez et gérez vos publications facilement.</p>
                                    
                                    <div class="crud-actions">
                                        <a href="ajout.php" class="btn btn-primary btn-crud">
                                            <i class='bx bx-plus'></i> Nouvelle Publication
                                        </a>
                                        <a href="liste.php" class="btn btn-success btn-crud">
                                            <i class='bx bx-list-ul'></i> Voir toutes les Publications
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Exemples de publications -->
                        <div class="posts-section mb-5">
                            <h6 class="mt-4 mb-3">Dernières Publications</h6>
                            
                            <!-- Publication 1 -->
                            <div class="post border-bottom p-3 bg-white w-shadow publication-example">
                                <div class="media text-muted pt-3">
                                    <img src="./assets/images/users/user-1.jpg" alt="Online user" class="mr-3 post-user-image">
                                    <div class="media-body pb-3 mb-0 small lh-125">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <a href="#" class="text-gray-dark post-user-name">John Michael</a>
                                            <div class="dropdown">
                                                <a href="#" class="post-more-settings" role="button" data-toggle="dropdown">
                                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Modifier</a>
                                                    <a class="dropdown-item" href="#">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="d-block">3 hours ago <i class='bx bx-globe ml-3'></i></span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <p>Juste partagé une superbe photo de mon jardin SmartGarden ! Les plantes commencent à pousser magnifiquement avec le nouveau système d'arrosage automatique. 🌱💧</p>
                                </div>
                                <div class="mb-3">
                                    <div class="argon-reaction">
                                        <span class="like-btn">
                                            <a href="#" class="post-card-buttons"><i class='bx bxs-like mr-2'></i> 24</a>
                                        </span>
                                    </div>
                                    <a href="javascript:void(0)" class="post-card-buttons"><i class='bx bx-message-rounded mr-2'></i> 5</a>
                                    <a href="#" class="post-card-buttons"><i class='bx bx-share-alt mr-2'></i> Share</a>
                                </div>
                            </div>

                            <!-- Publication 2 -->
                            <div class="post border-bottom p-3 bg-white w-shadow publication-example">
                                <div class="media text-muted pt-3">
                                    <img src="./assets/images/users/user-2.jpg" alt="Online user" class="mr-3 post-user-image">
                                    <div class="media-body pb-3 mb-0 small lh-125">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <a href="#" class="text-gray-dark post-user-name">Karen Minas</a>
                                            <div class="dropdown">
                                                <a href="#" class="post-more-settings" role="button" data-toggle="dropdown">
                                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Modifier</a>
                                                    <a class="dropdown-item" href="#">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="d-block">5 hours ago <i class='bx bx-globe ml-3'></i></span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <p>Mon système SmartGarden m'a alerté que les niveaux d'humidité étaient bas. J'ai ajusté les paramètres à distance depuis mon téléphone. La technologie au service du jardinage ! 📱🌿</p>
                                </div>
                                <div class="d-block mt-3">
                                    <img src="https://images.unsplash.com/photo-1597848212624-e6d4bd66d38b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=80" class="post-content" alt="smart garden system" style="max-width: 100%; border-radius: 8px;">
                                </div>
                                <div class="mb-3">
                                    <div class="argon-reaction">
                                        <span class="like-btn">
                                            <a href="#" class="post-card-buttons"><i class='bx bxs-like mr-2'></i> 42</a>
                                        </span>
                                    </div>
                                    <a href="javascript:void(0)" class="post-card-buttons"><i class='bx bx-message-rounded mr-2'></i> 8</a>
                                    <a href="#" class="post-card-buttons"><i class='bx bx-share-alt mr-2'></i> Share</a>
                                </div>
                            </div>

                            <!-- Publication 3 -->
                            <div class="post border-bottom p-3 bg-white w-shadow publication-example">
                                <div class="media text-muted pt-3">
                                    <img src="./assets/images/users/user-4.jpg" alt="Online user" class="mr-3 post-user-image">
                                    <div class="media-body pb-3 mb-0 small lh-125">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <a href="#" class="text-gray-dark post-user-name">Arthur Minasyan</a>
                                            <div class="dropdown">
                                                <a href="#" class="post-more-settings" role="button" data-toggle="dropdown">
                                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Modifier</a>
                                                    <a class="dropdown-item" href="#">Supprimer</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="d-block">1 day ago <i class='bx bx-globe ml-3'></i></span>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <p>Nouvelle récolte de tomates cerises du jardin ! Grâce à SmartGarden, j'ai pu optimiser l'exposition au soleil et l'arrosage. Le résultat est impressionnant ! 🍅✨</p>
                                    <p>#SmartGarden #JardinageConnecté #Tomates #Récolte</p>
                                </div>
                                <div class="mb-3">
                                    <div class="argon-reaction">
                                        <span class="like-btn">
                                            <a href="#" class="post-card-buttons"><i class='bx bxs-like mr-2'></i> 67</a>
                                        </span>
                                    </div>
                                    <a href="javascript:void(0)" class="post-card-buttons"><i class='bx bx-message-rounded mr-2'></i> 12</a>
                                    <a href="#" class="post-card-buttons"><i class='bx bx-share-alt mr-2'></i> Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-3 third-section">
                        <!-- Sidebar droit -->
                        <div class="p-3 bg-white rounded w-shadow">
                            <h6 class="card-title pb-3 mb-0">Gestion CRUD</h6>
                            <div class="list-group">
                                <a href="ajout.php" class="list-group-item list-group-item-action">
                                    <i class='bx bx-plus mr-2'></i> Ajouter une publication
                                </a>
                                <a href="liste.php" class="list-group-item list-group-item-action">
                                    <i class='bx bx-list-ul mr-2'></i> Liste des publications
                                </a>
                            </div>

                            <h6 class="card-title pb-3 mb-0 mt-4">Statistiques</h6>
                            <div class="bg-white rounded contacts">
                                <div class="media text-muted pt-2">
                                    <i class='bx bx-file mr-3 text-primary'></i>
                                    <div class="media-body">
                                        <strong>Publications totales</strong>
                                        <div class="text-muted small">15 publications</div>
                                    </div>
                                </div>
                                <div class="media text-muted pt-3">
                                    <i class='bx bx-like mr-3 text-success'></i>
                                    <div class="media-body">
                                        <strong>Likes reçus</strong>
                                        <div class="text-muted small">133 likes</div>
                                    </div>
                                </div>
                                <div class="media text-muted pt-3">
                                    <i class='bx bx-comment mr-3 text-info'></i>
                                    <div class="media-body">
                                        <strong>Commentaires</strong>
                                        <div class="text-muted small">25 commentaires</div>
                                    </div>
                                </div>
                            </div>

                            <h5 class="card-title pb-3 mb-0 mt-4">Contacts</h5>
                            <div class="bg-white rounded contacts">
                                <div class="media text-muted">
                                    <img src="./assets/images/users/user-2.jpg" alt="Online user" class="online-user-image align-middle">
                                    <div class="media-body mb-0 small lh-125">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <strong class="text-gray-dark"><a href="#" class="smFLname">Karen Minas</a></strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="media text-muted pt-3">
                                    <img src="./assets/images/users/user-3.jpg" alt="Online user" class="online-user-image">
                                    <div class="media-body mb-0 small lh-125">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <strong class="text-gray-dark"><a href="#" class="smFLname">Hakob Minasyan</a></strong>
                                        </div>
                                    </div>
                                </div>
                                <div class="media text-muted pt-3">
                                    <img src="./assets/images/users/user-1.jpg" alt="Online user" class="online-user-image">
                                    <div class="media-body mb-0 small lh-125">
                                        <div class="d-flex justify-content-between align-items-center w-100">
                                            <strong class="text-gray-dark"><a href="#" class="smFLname">Lina Adamyan</a></strong>
                                        </div>
                                    </div>
                                </div>
                                <small class="d-block text-right mt-3">
                                    <a href="#">See More</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core -->
    <script src="./assets/js/jquery/jquery-3.3.1.min.js"></script>
    <script src="./assets/js/popper/popper.min.js"></script>
    <script src="./assets/js/bootstrap/bootstrap.min.js"></script>
    
    <script>
        // Toggle sidebar
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        // Gestion des réactions aux publications
        $('.post-card-buttons').on('click', function(e) {
            e.preventDefault();
            // Ici vous pouvez ajouter la logique pour les likes/commentaires
        });
    </script>
</body>
</html>